<div id="page-container">
	<div id="header">
		<img src="assets/logo_web.png" alt="SCP: LC Logo">
		<div id="header-container">
			<p id="header-title">SCP: Lost Control - Changelog</p>
			<div id="header-buttons">
				<a
					*ngFor="let btn of [
					{ name: 'Home', link: '/home' },
					{ name: 'Latest Update', link: '/v/latest' },
					{ name: 'All Updates', link: '/all' },
				]"
					routerLink="{{btn.link}}">

					<p class="header-button">
						{{btn.name}}
					</p>
				</a>
			</div>
		</div>
	</div>

	<div id="main-container">
		<router-outlet></router-outlet>
	</div>
</div>