:root {
	font-family: 'Rubik', sans-serif;
	font-size: 1.8vh;
	color: white;
}

body {
	background-color: #1e1d1c;
	margin: 0;
}

markdown {
	a {
		color: #d0d0d0;
		text-decoration: underline;

		&:hover {
			color: #a0a0a0;
		}

		&:active {
			color: white;
		}
	}

	code.inline-code {
		background-color: #3c3c3c;
		border: 1px solid #7b7b7b;
		border-radius: 5px;
		padding: 0 3px;
		font-size: 0.8em;
	}
}